// Colors
$bg-color: hsl(217, 54%, 11%);
$card-bg-color: hsl(216, 50%, 16%);
$emphasize-color: hsl(0, 0%, 100%);
$text-color: hsl(0, 0%, 75%);
$selection-color: hsl(178, 100%, 50%);
$attribution-link-color: hsl(228, 45%, 44%);

// Font sizes
$title-font-size: 20px;
$font-size: 18px;

// Card
$card-border-radius: 1rem;
$card-width: 18rem;

// Image
$image-border-radius: 0.5rem;
